:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;
}

.light {
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease-in-out;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
}

.dark body {
  background-color: #0c0c0c;
  color: #e4e4e7;
}

.light body {
  background-color: #f8fafc;
  color: #0f172a;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

